/*


*/

.welcome__area.inner {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    padding: 250px 0 180px 0;
}

.inner__heading h1 {
    font-size: 50px;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.inner2 {
    height: 700px;
    background: url(../img/bg/inner2.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 125px;
}



.single__about__team:hover .single__about__team__hover__wrap{
    visibility: visible;
    opacity: 1;
    left: 0%;
}

.single__about__team:hover a.team__link{
    visibility: visible;
    opacity: 1;
    right: 3px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}


.single__about__team__hover {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.single__about__team__hover__img {
    position: absolute;
    top: 0;
    z-index: -1;
}

.single__about__team__hover__text {
    padding: 20px;
}

.single__about__team__hover__text h4, 
.single__about__team__hover__text h4 a {
    font-weight: 600;
    color: #fff;
    margin-bottom: 3px;
}

.single__about__team__hover__text h6, 
.single__about__team__hover__text h6 a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.contact__page {
    position: relative;
}

.contact__page__contact__info__card .info__card {
    margin: 0;
    width: 350px;
}

.contact__page__contact__details {
    position: relative;
    z-index: 2;
    padding-left: 30px;
    margin-bottom: 15px;
}

.contact__page__contact__details__icon {
    position: absolute;
    left: 0;
    top: 0;
    color: #F5AA56;
    font-size: 19px;
}

.contact__page__contact__details:last-child {
    margin-bottom: 0;
}

.contact__page__contact__details__text p {
    color: #C6C6C6;
}

.contact__page__contact__details__text p span {
    display: block;
    color: #fff;
    font-weight: 600;
}

.contact__days p {
    margin-bottom: 5px;
}

.contact__days p:last-child {
    margin-bottom: 0;
}


.contact__page__contact__form .contact__form {
    background: transparent;
}

.contact__page__contact__form .contact__form h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}

.contact__page__contact__form .contact__form input, 
.contact__page__contact__form .contact__form textarea, 
.contact__page__contact__form .contact__form select {
    background: #1F1F1F;
    color: #fff;
}


.service__list li {
    margin-bottom: 4px;
    position: relative;
    z-index: 2;
    padding-left: 20px;
}
.service__list li:last-child{
    margin-bottom: 0;
}
.service__list li:after {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    background: #F5AA56;
    left: 0;
    top: 50%;
    margin-top: -3px;
    border-radius: 50%;
}

.service__list.service__list2 li:after {
    left: 0;
    top: 12px;
}

.service__list li span {
    color: #F5AA56;
}

.service__video {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
}

a.servie__play__icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    color: #FB3F3F;
}



.service__video {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
}

a.servie__play__icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    color: #FB3F3F;
}

.card__box {
    background: #EEEFF0;
    border-radius: 10px;
    padding: 35px;
}

.download__btn__group a {
    color: #fff;
    font-weight: 600;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 13px 13px 13px 60px;
    border: 1px solid #EEB53D;
    border-radius: 10px;
}

.download__btn__group a span {
    display: block;
    font-weight: 400;
}

.download__btn__group a:first-child {
    margin-bottom: 20px;
}

.download__btn__group a i {
    position: absolute;
    left: 0;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
}



.portfolio__table td {
    color: #fff;
    font-size: 15px;
    padding: 10px 0;
}

.portfolio__table td span {
    color: #F5AA56;
    padding-right: 7px;
}

.portfolio__table td:last-child {
    font-weight: 500;
}

.portfolio__social {
    padding: 0;
}


.portfolio__img {
    max-width: 100px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.single__portfolio__carousel {
    position: relative;
    z-index: 2;
    padding: 0 0 0 130px;
    margin: 0 12%;
}

.portfolio__text p {
    color: #F5AA56;
    font-weight: 500;
    font-size: 15px;
}

.portfolio__text h3 {
    font-size: 20px;
    font-weight: 700;
}

.portfolio__carsouel__area {
    padding: 50px 0;
}

.portfolio__carsouel__area .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
    left: 50%;
    margin-left: -59.5px;
}

.portfolio__carsouel__area .owl-nav > div {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #F5AA56;
    line-height: 50px;
    font-size: 22px;
    color: #3e425c;
    border-radius: 50%;
    margin-top: -25px;
    right: 100px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;
    margin: 0 5px;
}


.search__box {
    position: relative;
    z-index: 2;
    background: #646A73;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
}

.search__box input {
    background: none;
    border: none;
    padding-left: 40px;
    color:#fff;
}
.search__box input::placeholder, 
.search__box i{
    color: #fff;
} 
.search__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: -15px;
}

.single__heading h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

.sidebar__line {
    margin: 30px 0;
    height: 1px;
    background: #404142;
    position: relative;
    z-index: 2;
}

.article__date p {
    display: inline-block;
    background: #F5AA56;
    padding: 5px 15px;
    border-radius: 0px 30px 30px 0;
    margin-bottom: 13px;
    font-size: 12px;
    color: #303844;
    text-transform: uppercase;
    font-weight: 600;
}

.article__categories p {
    display: inline-block;
    color: #F5AA56;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
}

.single__article h3, 
.single__article h3 a {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #303845;
    line-height: 30px;
}

.sidebar__line:after {
    position: absolute;
    content: "";
    background: #F5AA56;
    height: 1px;
    width: 10%;
    left: 0;
    top: 0;
}

.article__buttons {
    margin-top: 20px;
}

.article__buttons a {
    border: 1px solid #303845;
    color: #303845;
    font-size: 12px;
}
.article__buttons a.share_btn {
    background: no-repeat;
}

.article__buttons a.share_btn:hover {
    background: #F5AA56;
    color: #303845;
}


ul.caregories li a {
    font-size: 20px;
    color: #303845;
    font-weight: 400;
}

ul.caregories li {
    position: relative;
    z-index: 2;
    padding-left: 20px;
    margin-bottom: 4px;
}

ul.caregories li:last-child {
    margin-bottom: 0;
}

ul.caregories li:after {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    background: #F5AA56;
    left: 0;
    top: 50%;
    margin-top: -3px;
    border-radius: 50px;
}


.news__details__location {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.news__details img {
    border-radius: 10px;
}

.news__details__sub > div {
    display: inline-block;
    width: 24%;
    position: relative;
    z-index: 2;
    padding-left: 20px;
}

.news__details__sub {
    padding: 25px;
    background: #EEEFF0;
}

.news__details__single__sub p {
    color: #828282;
    font-size: 12px;
    line-height: 20px;
}

.news__details__single__sub p span {
    display: block;
    color: #2B2B2B;
    font-weight: 600;
}

.news__details__sub > div:after {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    background: #F5AA56;
    top: 6px;
    left: 6px;
}
.service__video img {
    width: 100%;
}


.news__testimonial__text p {
    font-style: italic;
    font-weight: 500;
    margin: 25px 0;
}

.news__testimonial__author {
    position: relative;
    z-index: 2;
    padding-left: 80px;
    margin-top: 35px;
}

.news__testimonial__author__img {
    position: absolute;
    left: 0;
    top: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: -30px;
    border-radius: 50%;
    overflow: hidden;
}

.news__testimonial__author__details p {
    font-size: 16px;
    font-weight: 600;
}

.news__testimonial__author__details p span {
    display: block;
    font-weight: 400;
}

.news__form input, 
.news__form textarea {
    background: #EEEFF0;
    border: navajowhite;
    margin-bottom: 10px;
    padding: 13px;
    border-radius: 4px;
    color: #303845;
}
.cpagination {
    float: right;
}

.single__comment {
    position: relative;
    z-index: 2;
    padding-left: 60px;
}

.comment__img {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
}

.comment__text h4{
    width: 100%;
    margin-bottom: 10px;
    color: #303845;
}

.comment__text h4 a {
    float: right;
    color: #F5AA56;
    font-size: 18px;
}
.comments {
    position: relative;
    z-index: 1;
}
.cpagination a {
    background: #EEEFF0;
    margin: 0 3px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    color: #303845;
    padding: 15px;
    border-radius: 4px;
}

.cpagination a:hover {
    background: #F5AA56;
    color: #303844;
}


.card__box.single__article {
    margin-bottom: 30px;
}
.card__box.single__article:last-child{
    margin-bottom: 0;
}

.single__comment{
    margin-bottom: 40px;
}

.single__comment:last-child{
    margin-bottom: 0;
}
.about__social li {
    display: inline-block;
}

li.abou__social__heading {
    margin-right: 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.about__social li a {
    height: 40px;
    width: 40px;
    text-align: center;
    background: #E8E8E8;
    line-height: 40px;
    border-radius: 50%;
    font-size: 14px;
}